.header-container {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    padding:10px 20px; 
  }
  
  .logo {
    margin-right: 20px;
  }
  
  .select-box {
    margin-left: auto;
  }
  