<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="javascript:;">{{ 'header.title' | translate }}</a>
  <div class="language-container">
      <ng-select [items]="this.mainService.supportedLanguages"
                 [clearable]="false"
                 [searchable]="false"
                 [(ngModel)]="this.mainService.currentLanguage"
                 bindLabel="value" bindValue="value"
                 (change)="changeLanguage($event)">
        <ng-template ng-label-tmp let-item="item">
          <img loading="lazy" class="lang-img" [src]="item.img"/>
        </ng-template>
        <ng-template ng-option-tmp let-item="item">
          <img loading="lazy" class="lang-img" [src]="item.img"/>
          <span class="text-uppercase">{{item.value}}</span>
        </ng-template>
      </ng-select>
    </div>
</nav>